<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- FOR INFO & WARN -->
	<appender name="InfoTxtAppender" class="org.apache.log4j.FileAppender">
		<param name="Encoding" value="UTF-8" />
		<param name="File" value="logs/log.txt" />
		<layout class="org.apache.log4j.SimpleLayout" />
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="WARN" />
		</filter>
	</appender>

	<!-- FOR ERROR -->
	<appender name="ErrorTxtAppender" class="org.apache.log4j.FileAppender">
		<param name="Encoding" value="UTF-8" />
		<param name="File" value="logs/log.txt" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{${datestamp}} [%t] %-5p %C{2} - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ERROR" />
		</filter>
	</appender>


	<root>
		<appender-ref ref="InfoTxtAppender" />
		<appender-ref ref="ErrorTxtAppender" />
	</root>

</log4j:configuration>